<div class="question_content top_content">
  <header class="question_header">
  <div class="question_image icon_image" style="background-image: url(<%= going.user.avatar.url(:medium) %>);"></div>
    <div class="question_user_info user_info">
      <span><%= link_to going.user.name, user_path(going.user) %>さんが
      <span class="q"><%= link_to "進捗", going_path(going) %></span>を登録しました
      </span>
      <time><%= time_ago_in_words going.created_at %></time>
    </div>
  </header>
  <div class="question_body">
    <div class="question_box">
      <h3><%= going.text %></h3>
      <% if params[:controller] == "users" %>
        <small class='edit'>
          <%= link_to '編集', edit_going_path(going) %>
        </small>
      <% end %>
    </div>

    <div class="questioned">
      <%= link_to "コメント#{going.comments.count}件", going_path(going) %>
      <%= "既読#{going.going_checks.count}人" %>
      <% going.going_checks.each do |i| %>
      <div class="question_image icon_mini_image" style="background-image: url(<%= i.user.avatar.url(:medium) %>);"></div>
      <% end %>
      <%= form_tag(new_comment_path, method: :get, class: "question_submit") do %>
      <%= hidden_field_tag(:going_id, going.id) %>
      <%= submit_tag("コメントする") %>
    <% end %>
    </div>
  </div>
</div>